.hero {
    background-image: url('../img/banner.jpg');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 110px);
    overflow: hidden;

    opacity: 0.6;
}
.hero-title {
    font-size: 70px;
}
.message {
    display: inline;
}
.message-container {
    margin-top: 140px;
}